html,
body {
    /* height: 100vh; */
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
}
#navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    position: fixed;
    margin: 1rem;
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}
#navbar-buttons {
    display: flex;
    align-items: space-between;
    justify-content: center;
    margin: 20px;
}
#logo-container {
    display: flex;
    align-items: center;
    height: 100%;
}
#navbar-logo {
    height: 100%;
}
.navbar-button {
    font-family: var(--font-family--heading);
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--l);

    width: 15vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color--body-text-brown);

    padding: 0 1rem;
}
.start {
    color: white;

    background-color: var(--color--medium-green);
    border: solid 0.3rem black;
    border-radius: 25px;
}

div#home-thumbnail {
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        #b0ffff 0%,
        #b0ffff 50%,
        #e3ffff 100%
    );
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

#home-thumbnail-content-container {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-80%, -50%);
}
#home-thumbnail-content-container > * {
    margin: 20px;
}
.home-thumbnail-text {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--m);
    font-weight: var(--font-weight--bold);
}
#home-thumbnail-acimowin {
    font-size: var(--font-size--xl);

    text-decoration: none;
    display: flex;
    color: var(--color--body-text-brown);
}
#home-thumbnail-start {
    width: 20vw;
    height: 10vh;
}

#home-thumbnail-background {
    bottom: -10%;
    position: absolute;
    width: 100vw;
}

#home-how {
    background-color: var(--color--sandy-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
}

#home-how-steps {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

#home-how-steps > * {
    flex: 1;
}

.home-how-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-how-step-number {
    font-family: var(--font-family--heading);
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--xl);
    color: var(--color--light-red);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}
.home-how-step-title {
    font-family: var(--font-family--heading);
    font-weight: var(--font-weight--semibold);
    font-size: var(--font-size--m);
}

.home-how-step-detail {
    font-family: var(--font-family--body-text);
    font-size: var(--font-size--s);
    text-align: center;
}

#home-how-title {
    font-family: var(--font-family--heading);
    font-weight: var(--font-weight--semibold);
    font-size: var(--font-size--m);
    text-align: center;
}
.scrolled {
    background-color: rgba(255, 255, 255, 0.65);

    backdrop-filter: blur(10px); /* blur the background behind */
    -webkit-backdrop-filter: blur(10px); /* for Safari support */
    border-radius: 12vh;
}
