#beaver-scene3 {
    background-color: var(--color--water-light-blue);
    border-radius: 7px;
    height: 100%;
    transition: all 0.2s ease-out;
    width: 100%;
}

#scene3-beaver-with-rock {
    position: absolute;
    right: 10%;
    top: 22vh;
    z-index: 9;
}

#scene3-beaver-with-log {
    position: absolute;
    left: 40%;
    top: 40vh;
    z-index: 9;
}

#dam {
    width: 40%;
    position: absolute;
    left: 0%;
    top: 0vh;
}