#lesson-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: var(--space--large);
    animation: float 3s ease-in-out infinite;

    box-sizing: border-box;
    z-index: 111111;
}

#lesson-top-bar > * {
    border: var(--border--thick-black);
    border-radius: var(--border-radius--button);
    color: white;
    font-family: var(--font-family--heading), sans-serif;
    font-size: var(--font-size--l);
    padding: 10px;

    font-weight: var(--font-weight--bold);
    text-align: center;
}

#lesson-title-bar {
    flex: 10;
    /*background-size: contain;*/
    /*background-size: 100% 100%;*/
    /*background-*/
    /*background-size: cover;*/

    background-color: var(--color--tree-bark-brown);

    /*text-align: center;*/
    /*justify-content: center;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
}
#process-indicator {
    flex: 1;
    background: var(--color--sabe-brown);
}

#lesson-back-button {
    background: var(--color--sabe-brown);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1.8rem;
    font-family: var(--font-family--body-text), sans-serif;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    flex: 0;
}

#lesson-back-button:hover {
    transform: scale(1.1);
    color: white;
    background-color: var(--color--light-red);
    /*background: linear-gradient(145deg, #FF0000, #FF6B6B);*/
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

#lesson-back-button:active {
    transform: scale(0.95);
}

#lesson-back-button::before {
    content: "←";
    font-size: var(--font-size--l);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#lesson-back-button:hover::after {
    animation: sparkle 0.8s ease-out;
}
