#chapter-map-top-bar {
    background-color: transparent;
    z-index: 8000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px;
}

#chapter-map-top-bar > * {
    color: white;
    font-size: var(--font-size--heading);
    padding: 10px;
    border-radius: 30px;
    border: solid 4px black;
    font-family: var(--font-family--heading), sans-serif;
    font-weight: var(--font-weight--semibold);
    background-color: rgb(89, 76, 58);
    cursor: pointer;
}

#chapter-map-top-bar > *:nth-child(2) {
    background-color: rgb(140, 91, 58);
    padding-left: 20px;
    font-weight: var(--font-weight--bold);
}