#chapter-map-top-bar {
    background-color: transparent;
    z-index: 8000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px;
}

#chapter-map-top-bar > * {
    color: white;
    font-size: var(--font-size--l);
    padding: 10px;
    border-radius: var(--border-radius--button);
    border: var(--border--thick-black);
    font-family: var(--font-family--heading), sans-serif;
    font-weight: var(--font-weight--semibold);
    background-color: var(--color--sabe-brown);
    cursor: pointer;
}

#chapter-map-top-bar > *:nth-child(2) {
    background-color: var(--color--tree-bark-brown);
    padding-left: 20px;
    padding-right: 20px;
    font-weight: var(--font-weight--bold);
}

#home-button {
    transition: background-color 300ms ease-in-out;
}
#home-button:hover {
    background-color: var(--color--medium-green);
}
