:root {
  background-color: #8bff9e;
}
#root {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

#sky {
  min-width: 100%;
}

#cave {
  width: 40%;
  height: 40%;

  overflow: hidden;
  position: fixed;
  top: -5%;
  right: -15%;
}
