
:root {

    --color--font-family--body-text-brown: #3D3325;
    --color--sabe-brown: #5C4C37;
    --color--tree-bark-brown: #9B6834;
    --color--light-sabe-brown: #927758;
    --color--beaver-brown: #945833;
    --color--sandy-brown: #D0BA97;
    --color--deep-green: #174D37;
    --color--medium-green: #2B9068;
    --color--water-deep-blue: #66a9f1;
    --color--water-light-blue: #99e9f2;
    --color--light-red: #CE4040;


    --font-family--body-text: 'Poppins', sans-serif;
    --font-family--heading: 'Baloo 2', sans-serif;

    --font-weight--bold: 700;
    --font-weight--semibold: 600;

    --font-size--heading: 2rem;

    --light-brown: rgb(124, 80, 51);
    --dark-brown: rgb(87, 52, 29);

    --border-radius--button: 30px;
    --border--thick-black: solid 4px black;

    --padding--large: 1rem;
    --padding--small: 0.25rem;
}


a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    position: fixed;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: var(--font-family--body-text), sans-serif;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: white;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/*
img[src$=".svg"] {
} */
.unselectable {
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}
